p{ font-size: 15px;
    color: grey;
    text-align: center;
    line-height: 3;}	

#block1{
    font-family: 'Baskervville', cursive; color: grey
}
#block2{
    font-family: 'Dancing Script', cursive; color: black;
}
#titel1{
    font-size: 30px;
}	